$grey: #dfe5eb;
$blue: #145ECB;
$light-blue: #306BC2;
$white: #E2E9F3;
$black: #323738;

// --------- global ---------

span {

  &.blue {
    color: $blue;
  }
}

// --------- main ---------

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px 0;
  border-radius: 0px 0px 20px 20px;
  background: $grey;
  box-shadow: 0px 17px 38px 0px rgba(50, 55, 56, 0.06), 0px 68px 68px 0px rgba(50, 55, 56, 0.05), 0px 154px 92px 0px rgba(50, 55, 56, 0.03), 0px 273px 109px 0px rgba(50, 55, 56, 0.01), 0px 427px 119px 0px rgba(50, 55, 56, 0.00);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    max-width: 345px;
    max-height: 52px;
  }

  &__nav {

    &-background {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 15px;
    align-items: center;

    &-item {

      a {
        color: $black;
        font-weight: 600;
        font-size: 20px;
        transition: color .3s ease-in-out;

        &:hover {
          color: $light-blue;
        }
      }

      &:last-child {

        button {
          padding: 7px 15px;
          border: 2px solid $black;
          border-radius: 7px;
          font-weight: 600;
          font-size: 20px;
          transition: color .3s ease-in-out, background-color .3s ease-in-out;

          &:hover {
            background-color: $black;
            color: $grey;
          }
        }
      }
    }
  }

  .burger {
    display: none;
    width: 25px;
    height: 15px;
    position: relative;

    span, &::before, &::after {
      transition: background-color .3s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out;
      width: 100%;
      height: 2px;
      background-color: $black;
      position: absolute;
      left: 0;
      right: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    &::before {
      content: '';
      top: 0;
    }

    &::after {
      content: '';
      bottom: 0;
    }

    &:hover {
      .burger {
        span, &::before, &::after {
          background-color: $light-blue;
        }
      }
    }

    &.active {
      span {
        opacity: 0;
      }

      &::before {
        transform: translateY(6px) rotateZ(-45deg);
      }

      &::after {
        transform: translateY(-6px) rotateZ(45deg);
      }
    }
  }
}


.promo {
  background-color: $grey;
  padding-top: 100px;
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    right: 100px;
    top: 80px;
    bottom: 0;
    max-width: 750px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      border-left: 200px solid $grey;
      border-bottom: 900px solid transparent;
    }
  }

  &__imgs {
    display: none;
  }

  &__content {
    max-width: 770px;
    position: relative;
    width: 100%;
    padding: 35px 0 110px;
    z-index: 2;
  }

  &__title {
    font-size: 52px;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 25px;

    span {
      line-height: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      font-weight: 600;
      font-size: 26px;
      line-height: 100%;
    }
  }

  &__btn {
    padding: 10px 20px;
    font-size: 30px;
    color: $blue;
    font-weight: 600;
    border-radius: 7px;
    border: 3px solid $blue;
    display: block;
    margin-top: 45px;
    width: fit-content;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}

.advantages {
  padding: 75px 0;
  background-color: $grey;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 275px;
    text-align: center;

    &-text {

      span {
        font-weight: 600;
      }
    }
  }
}

.for {
  background-color: $black;
  padding: 30px 0;
  color: $white;

  &__title {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 55px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -19px;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 2px;
        background-color: $white;
      }
    }

    &-img {
      margin-bottom: 15px;
    }

    &-title {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 28px;
    }

    &-list {
      padding-left: 22px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &_item {
        list-style: disc;
        font-size: 18px;
      }
    }
  }
}

.after {
  padding: 25px 0 50px;
  background-color: $black;
  color: $white;

  &__title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    margin-bottom: 35px;

    &-item {
      list-style: decimal;
      font-size: 18px;
    }
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.cases {
  padding: 30px 0 20px;
  background-color: $grey;

  .swiper {
    padding-bottom: 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &-title {
      font-size: 36px;
      font-weight: 700;
    }

    &-btns {
      display: flex;
      gap: 10px;
      align-items: center;

      .swiper-button-prev, .swiper-button-next {
        position: static;
        height: 50px;
        margin-top: 0;

        &::after, &::before {
          display: none;
        }
      }
    }
  }

  .swiper-slide {

  }

  .slide {

    &__container {
      margin: 0 auto;
      width: fit-content;
      padding: 20px 30px;
      border-radius: 20px;
      background-color: $white;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 50px;
      margin-bottom: 15px;

      &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        img {
          max-width: 125px;
          border-radius: 20px;
        }
      }

      &-title {
        font-size: 28px;
        font-weight: 600;
      }

      &-text {
        font-size: 24px;
        font-weight: 500;
        text-align: right;
      }
    }

    &__content {

      &-item {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 7px;

        p {
          max-width: 500px;
          text-align: right;
        }

        &:not(:last-child) {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            right: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $black;
          }
        }
      }
    }

    &__btn {
      margin-top: 20px;
      width: fit-content;
      display: block;
      color: $black;
      padding: 7px 13px;
      background-color: $white;
      border-radius: 10px;
      font-weight: 600;
      border: 2px solid $black;
      transition: background-color .3s ease-in-out, color .3s ease-in-out;
      font-size: 22px;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}


.program {
  padding: 45px 0 70px;
  background-color: $grey;

  &__title {
    font-size: 44px;
    text-align: center;
    font-weight: 800;
  }

  &__subtitle {
    text-align: center;
    font-size: 28px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
  }

  &__item {
    max-width: 550px;
    position: relative;

    &-background {
      font-size: 300px;
      font-weight: 800;
      line-height: 0;
      color: #264B8226;
      position: absolute;
      left: -100px;
      top: 40px;
      pointer-events: none;
      z-index: 0;
    }

    &-title {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 15px;
      position: relative;
      z-index: 2;
    }

    &-text {
      font-size: 26px;
      position: relative;
      z-index: 2;
    }

    &:nth-child(even) {
      margin-left: auto;
      text-align: right;

      .program__item-background {
        right: 0;
      }
    }
  }
}

.prices {
  background-color: $black;
  color: $white;
  padding: 45px 0 60px;

  &__title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    text-align: center;
    font-size: 26px;
    max-width: 470px;
    margin: 0 auto 45px;
  }

  &__content {

    &-btns {
      display: flex;
      justify-content: center;
      gap: 35px;
    }

    &-text {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__btns {
    margin-bottom: 35px;

    &-item {
      padding: 15px 20px;
      background-color: $white;
      color: $black;
      font-size: 22px;
      font-weight: 700;
      border-radius: 5px;
      transition: background-color .3s ease-in-out, color .3s ease-in-out;

      &.profit {
        position: relative;

        &::after {
          position: absolute;
          content: url("../img/profit.svg");
          top: -25px;
          right: -15px;
          max-width: 70px;
        }
      }

      &.active {
        background-color: $blue;
        color: $white;

        &:hover {
          background-color: $blue;
          color: $white;
        }
      }

      &:hover {
        background-color: $grey;
      }
    }
  }

  &__program {
    font-size: 28px;
    font-weight: 700;

    &-title {
      max-width: 470px;
      margin-bottom: 40px;
      color: $white;

      .name {
        font-weight: 800;
        color: $grey;
      }

      .price {
        display: block;
        margin-top: 20px;

        &-num {
          font-weight: 800;
          color: $grey;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-left: 25px;
      margin-bottom: 30px;

      &_item {
        font-size: 24px;
        font-weight: 500;
        list-style: disc;
      }
    }

    &-btn {
      font-size: 26px;
      font-weight: 800;
      padding: 12px 25px;
      color: $white;
      border: 3px solid $white;
      border-radius: 7px;
      transition: background-color .3s ease-in-out, color .3s ease-in-out;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

.footer {
  background-color: $blue;
  padding: 40px 0 115px;
  color: $white;

  &__top {
    display: flex;
    justify-content: space-between;

    &-left {
      max-width: 370px;

      &_logo {
        margin-bottom: 10px;
        display: block;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &_title {
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }

  &__bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-copyright {
      font-size: 16px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {

      a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $white;
        justify-content: flex-end;
        transition: color .3s ease-in-out;

        svg path {
          transition: fill .3s ease-in-out;
        }

        &:hover {

          svg path, & {
            color: $grey;
            fill: $grey;
          }
        }
      }
    }
  }
}

.popup {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity .3s ease-in-out;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;

    svg rect {
      transition: fill .3s ease-in-out;
    }

    &:hover {

      svg rect {
        fill: $light-blue;
      }
    }
  }

  &__container {
    width: 100%;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .popup__form-input {
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: transparent;
    color: $white;
    padding-bottom: 12px;
    border-bottom: 1px solid $white;
    width: fit-content;
    font-size: 28px;
    font-weight: 600;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &::placeholder {
      transition: color .3s ease-in-out
    }

    &::placeholder {
      color: $white;
    }

    &:hover {
      border-color: $grey;
      color: $grey;

      &::placeholder {
        color: $grey;
      }
    }

    &:focus {
      border-color: $light-blue;
      color: $light-blue;
    }
  }
}

.callback, .buy {
  background-color: $black;
  padding: 50px 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: fit-content;
    justify-content: center;

    &-inputs {
      display: flex;
      gap: 60px;
    }

    &-btn {
      font-size: 26px;
      font-weight: 700;
      padding: 7px 15px;
      width: fit-content;
      border: 2px solid $white;
      color: $white;
      border-radius: 9px;
      transition: color .3s ease-in-out, background-color .3s ease-in-out;

      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }

  &__title {
    color: $white;
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    max-width: 730px;
  }
}

.buy {
  padding-top: 135px;

  &__program {
    color: $white;
    margin-right: auto;

    &-name {
      font-size: 24px;
      font-weight: 600;

      span {
        font-weight: 800;
        font-size: 26px;
      }
    }
  }

  &__form {

    &-banner {
      color: $black;
      max-width: 260px;
      font-size: 12px;
      display: flex;
      align-items: center;
      text-align: center;
      gap: 15px;
      padding: 5px;
      background-color: $white;
      border-radius: 12px;

      img {
        max-height: 50px;
      }
    }
  }
}

.success {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  color: $white;
  text-align: center;
  z-index: 1001;

  .popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
  }

  &__btn {
    color: $black;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: $white;
    border-radius: 12px;
    position: static;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
